@import './vars.scss';

.f-bold {
    font-weight: bold;
}

.size-13 {
    font-size: 13px;
}

.size-17 {
    font-size: 17px;
}

.size-22 {
    font-size: 22px;
}

.d-flex {
    display: flex;
}

.button-primary {
    background-color: $color-text;
    border: 1px solid $color-text;
}

.f-col {
    flex-direction: column;
}
.justify-center {
    justify-content: center;
}