@import url("//cdn.web-fonts.ge/fonts/bpg-arial-caps/css/bpg-arial-caps.min.css");
@import './vars.scss';

* {
    font-family: $font-primary;
}

body {
    background-color: $color-bg;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    .upload-post-container {
        padding: 20px;
        background-color: $color-primary;

        img {
            width: 800px;
        }

        .image-place {
            overflow: hidden;

            .upload-image {
                // width: 100%;
                height: 200px;
                opacity: 0.3;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: 0.3s;
                border: 5px dashed white;

                &:hover {
                    opacity: 1;
                }

                .add-icon {
                    color: white;
                    font-size: 30px;
                    border: 3px solid white;
                    width: 50px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 50px;
                }
            }
        }

        .inp {
            textarea {
                margin-top: 20px;
                font-size: 20px;
                outline: 0;
                border: 0;
                background-color: transparent;
                color: white;
            }

            .title-input {
                color: white;
                margin-top: 20px;
                font-weight: bold;
                font-size: 20px;
                width: 100%;
                border: 0;
                outline: 0;
                background-color: transparent;
            }
        }

        .files {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }
    }

    .post {
        padding: 10px;
        border-radius: 10px;
        max-width: 800px;
        background-color: $color-primary;
        height: fit-content;

        .image-place {
            border-radius: 10px;
            overflow: hidden;
            height: 500px;

            img {
                aspect-ratio: 3/1;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .content {
            .title {
                h2 {
                    color: $color-text;
                    font-weight: bold;
                }
            }

            .description {
                color: $color-text;
            }
        }
    }
}

.space {
    width: fit-content;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    font-weight: bold;
    border: 1px solid $color-text;
    transition: 0.5s;

    &:hover {
        background-color: $color-hover-bg;
        color: $color-hover-text;
        cursor: pointer;
    }
}

.sizes {
    position: fixed;
    // width: 40px;
    left: 20px;
    gap: 10px;
    top: 2%;
    display: flex;
    flex-direction: row;

    button {
        cursor: pointer;
        border: 0;
        background-color: $color-hover-bg;
        font-size: 15px;
        width: 45px;
        border-radius: 5px;
        height: 30px;
        transition: 0.3s;

        &:hover {
            color: $color-hover-bg;
            background-color: $color-hover-text;
            border: 2px solid $color-hover-bg;
        }
    }
}

.create-container {
    margin: 0 auto;
    width: 960px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .row {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: space-between;

        textarea {
            padding: 10px 10px;
            border: 0;
            background-color: $color-primary;
            outline: 0;
            color: white;
            width: 680px;
            flex: 0 0 85%;
        }

        .button-primary {
            background-color: transparent;
            color: $color-text;
            font-size: 17px;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                background-color: $color-text;
                color: $color-primary;
            }
        }
    }
}


.button-icon {
    background-color: $color-bg;
    color: $color-text;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: $color-text;
        color: $color-bg;
    }
}

.error-text {
    position: absolute;
    top: 20px;
    right: 50px;
    background-color: #CB0404;
    min-width: 200px;
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    .text {
        font-size: 15px;
    }
}